.cover-thumbnail {
  width: 200px;
  height: 100px;
  background-color: rgba(190, 247, 193, 0.8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: right;
}

.first-page-thumbnail,
.last-page-thumbnail {
  width: 100px;
  height: 100px;
  background-color: rgba(190, 247, 193, 0.8);
  background-size: contain;
  background-repeat: no-repeat;
}
.first-page-thumbnail {
  background-position: right;
}

.last-page-thumbnail {
  background-position: left;
}

.page {
  width: 200px;
  height: 100px;
  background-color: rgba(190, 247, 193, 0.8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
